<?xml version="1.0" encoding="UTF-8" ?>
<mapper>
    <vertices>
        <vertex label="team" table="team">
            <properties>
                <property primary="true" label="team.id" field="team_id" />
                <property label="name" field="team_name" />
                <property label="league" field="team_league" />
                <property label="site" field="official_site" />
                <property label="created.date" field="created_date" />

                <property label="city" field="city" link-table="team_place"/>
                <property label="home" field="home" link-table="team_place"/>
                <property label="home.capacity" field="home_capacity" link-table="team_place"/>
                <property label="training.field" field="training_field" link-table="team_place"/>

                <property label="coaches" link-table="team_coach">
                    <pair name="chief.coach" field="chief_coach" />
                    <pair name="assistant.coach" field="assistant_coach" />
                    <pair name="fitness.coach" field="fitness_coach" />
                    <pair name="goalkeeper.coach" field="goalkeeper_coach" />
                </property>
                <property label="owner" link-table="team_owner">
                    <pair name="name" field="owner_name" />
                    <pair name="capital" field="capital" />
                </property>
                <property label="honours" link-table="team_honour">
                    <pair name="name" field="name" />
                    <pair name="count" field="count" />
                </property>
                <property label="star" link-table="team_star" field="name"/>
            </properties>
            <links>
                <link table="team_coach" join-field="team_id=team_id" />
                <link table="team_place" join-field="team_id=team_id" />
                <link table="team_owner" join-field="team_id=team_id" />
                <link table="team_star" join-field="team_id=team_id" one-to-many="true" />
                <link table="team_honour" join-field="team_id=team_id" one-to-many="true" />
            </links>
        </vertex>
        <vertex label="sportsman" table="sportsman">
            <properties>
                <property primary="true" label="sportsman.id" field="sportsman_id" />
                <property label="name" field="name" />
                <property label="nationality" field="nationality" />
                <property label="height" field="height" />
                <property label="weight" field="weight" />
                <property label="birthday" field="birthday" />
                <property label="position" link-table="sportsman_position" >
                    <pair name="name" field="position" />
                    <pair name="detail" field="detail" />
                </property>
                <property label="features" link-table="sportsman_feature" >
                    <pair name="name" field="name" />
                    <pair name="score" field="score" />
                </property>
                <property label="employs" link-table="sportsman_employ" >
                    <pair name="team.name" field="team_name" />
                    <pair name="start" field="start_date" />
                    <pair name="end" field="end_date" />
                </property>
            </properties>
            <links>
                <link table="sportsman_employ" join-field="sportsman_id=sportsman_id" />
                <link table="sportsman_feature" join-field="sportsman_id=sportsman_id" one-to-many="true" />
                <link table="sportsman_position" join-field="sportsman_id=sportsman_id" one-to-many="true" />
            </links>
        </vertex>
    </vertices>
    <edges>
        <edge label="employ" table="sportsman_employ">
            <source label="sportsman" field="sportsman.id=sportsman_id" />
            <target label="team" field="team.id=team_id" />
            <properties>
                <property primary="true" label="uuid" field="uuid" />
                <property label="team.id" field="team_id" />
                <property label="sportsman.id" field="sportsman_id" />
                <property label="start" field="start_date" />
                <property label="end" field="end_date" />
            </properties>
        </edge>
    </edges>
</mapper>