<?xml version="1.0" encoding="UTF-8" ?>
<mapper>
    <vertices>
        <vertex label="movie" table="movie">
            <properties>
                <property primary="true" label="movieid" field="movieid" />
                <property label="name" field="moviename" />
                <property label="income" field="income" />
                <property label="boxoffice" field="boxoffice" />
                <property label="company" link-table="company" field="company" />
                <property label="type" link-table="type" field="type" multiple="true" />
                <property label="director" link-table="director" field="director_name" />
                <property label="publish" link-table="publish" multiple="true" >
                    <pair name="area" field="area" />
                    <pair name="time" field="time" />
                </property>
            </properties>
            <links>
                <link table="company" join-field="movieid=movieid" />
                <link table="type" join-field="movieid=movieid" />
                <link table="publish" join-field="movieid=movieid" />
                <link table="director" join-field="movieid=movieid" />
            </links>
        </vertex>
    </vertices>
    <edges>
    </edges>
</mapper>