<?xml version="1.0" encoding="UTF-8" ?>
<mapper>
    <vertices>
        <vertex label="team" table="team">
            <properties>
                <property primary="true" label="team.id" field="team_id" />
                <property label="name" field="team_name" />
                <property label="league" field="team_league" />
                <property label="site" field="official_site" />
                <property label="created.date" field="created_date" />

                <property label="city" field="city" link-table="team_place"/>
                <property label="home" field="home" link-table="team_place"/>
                <property label="home.capacity" field="home_capacity" link-table="team_place"/>
                <property label="training.field" field="training_field" link-table="team_place"/>

                <property label="coaches" link-table="team_coach">
                    <pair name="chief.coach" field="chief_coach" />
                    <pair name="assistant.coach" field="assistant_coach" />
                    <pair name="fitness.coach" field="fitness_coach" />
                    <pair name="goalkeeper.coach" field="goalkeeper_coach" />
                </property>
                <property label="owner" link-table="team_owner">
                    <pair name="name" field="owner_name" />
                    <pair name="capital" field="capital" />
                </property>
                <property label="honours" link-table="team_honour">
                    <pair name="name" field="name" />
                    <pair name="count" field="count" />
                </property>
                <property label="star" link-table="team_star" field="name"/>
            </properties>
            <links>
                <link table="team_coach" join-field="team_id=team_id" />
                <link table="team_place" join-field="team_id=team_id" />
                <link table="team_owner" join-field="team_id=team_id" />
                <link table="team_star" join-field="team_id=team_id" one-to-many="true" />
                <link table="team_honour" join-field="team_id=team_id" one-to-many="true" />
            </links>
        </vertex>
        <vertex label="sportsman" table="sportsman">
            <properties>
                <property primary="true" label="sportsman.id" field="sportsman_id" />
                <property label="name" field="name" />
                <property label="nationality" field="nationality" />
                <property label="height" field="height" />
                <property label="weight" field="weight" />
                <property label="birthday" field="birthday" />
                <property label="position" link-table="sportsman_position" >
                    <pair name="name" field="position" />
                    <pair name="detail" field="detail" />
                </property>
                <property label="features" link-table="sportsman_feature" >
                    <pair name="name" field="name" />
                    <pair name="score" field="score" />
                </property>
                <property label="employs" link-table="sportsman_employ" >
                    <pair name="team.name" field="team_name" />
                    <pair name="start" field="start_date" />
                    <pair name="end" field="end_date" />
                </property>
            </properties>
            <links>
                <link table="sportsman_employ" join-field="sportsman_id=sportsman_id" />
                <link table="sportsman_feature" join-field="sportsman_id=sportsman_id" one-to-many="true" />
                <link table="sportsman_position" join-field="sportsman_id=sportsman_id" one-to-many="true" />
            </links>
        </vertex>
        <vertex label="event" table="sport_event">
            <properties>
                <property primary="true" label="event.id" field="sport_event_id" />
                <property label="name" field="sport_event_name" />
                <property label="type" field="type" />
                <property label="season" field="Season" />
            </properties>
        </vertex>
        <vertex label="match" table="match">
            <properties>
                <property primary="true" label="match.id" field="match_id" />
                <property primary="true" label="event.id" field="sport_event_id" />
                <property label="event.name" field="sport_event_name" />
                <property label="number" field="match_number" />
                <property label="time" field="begin_time" />
                <property label="match.place" field="match_place" />
                <property label="viewer.count" field="viewer_count" />
                <property label="ticket.income" field="ticket_income" />
                <property label="home.team.id" field="home_team_id" />
                <property label="home.team.name" field="home_team_name" />
                <property label="client.team.id" field="client_team_id" />
                <property label="client.team.name" field="client_team_name" />
                <property label="result" link-table="match_result">
                    <pair name="home.score" field="home_score" />
                    <pair name="client.score" field="client_score" />
                    <pair name="result" field="result" />
                </property>
            </properties>
            <links>
                <link table="match_result" join-field="match_id=match_id;sport_event_id=sport_event_id" />
            </links>
        </vertex>
        <vertex label="city" table="city">
            <properties>
                <property label="city" field="city" primary="true" />
            </properties>
        </vertex>
    </vertices>
    <edges>
        <edge label="employ" table="sportsman_employ">
            <source label="sportsman" >
                <connection vertex="sportsman.id" edge="sportsman.id" />
            </source>
            <target label="team" >
                <connection vertex="team.id" edge="team.id" />
            </target>
            <properties>
                <property primary="true" label="uuid" field="uuid" />
                <property label="team.id" field="team_id" />
                <property label="sportsman.id" field="sportsman_id" />
                <property label="start" field="start_date" />
                <property label="end" field="end_date" />
            </properties>
        </edge>
        <edge label="home.matching" table="match">
            <source label="team" >
                <connection vertex="team.id" edge="home.team.id" />
            </source>
            <target label="match" >
                <connection vertex="match.id" edge="match.id" />
                <connection vertex="event.id" edge="event.id" />
            </target>
            <properties>
                <property primary="true" label="match.id" field="match_id" />
                <property primary="true" label="event.id" field="sport_event_id" />
                <property label="home.team.id" field="home_team_id" />
            </properties>
        </edge>
        <edge label="client.matching" table="match">
            <source label="team">
                <connection vertex="team.id" edge="client.team.id"/>
            </source>
            <target label="match">
                <connection edge="match.id" vertex="match.id"/>
                <connection edge="event.id" vertex="event.id"/>
            </target>
            <properties>
                <property primary="true" label="match.id" field="match_id" />
                <property primary="true" label="event.id" field="sport_event_id" />
                <property label="client.team.id" field="client_team_id" />
            </properties>
        </edge>
        <edge label="belong.to" table="team">
            <source label="team">
                <connection edge="team.id" vertex="team.id"/>
            </source>
            <target label="city">
                <connection edge="city" vertex="city" />
            </target>
            <properties>
                <property label="team.id" field="team_id" primary="true" />
                <property label="city" field="city" link-table="team_place"/>
            </properties>
            <links>
                <link table="team_place" join-field="team_id=team_id" />
            </links>
        </edge>
    </edges>
</mapper>